@import "~materialize-css/dist/css/materialize.min.css";
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.back-gradient {
   background: linear-gradient(154deg, #61d170, #8d8fe7, #db81c5, #ce7979);
   background-size: 600% 600%;

   animation: animationGradient 16s ease infinite;
}
@keyframes animationGradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
